Map_Node/std.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="qualification" type="xsd:string"/>
  <xsd:element name="role" type="xsd:string"/>
  <xsd:element name="name" type="xsd:string"/>
  <xsd:element name="Data">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="name"/>
        <xsd:element ref="role"/>
        <xsd:element ref="qualification"/>
        <xsd:element ref="salary"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="salary" type="xsd:string"/>
</xsd:schema>