SoapReq/messagesetService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/messageset" xmlns="http://tempuri.org/messageset" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/messageset" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/messageset" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:complexType name="AddStudentRequest">
        <xsd:sequence>
          <xsd:element ref="name"/>
          <xsd:element ref="qualification"/>
          <xsd:element ref="role"/>
          <xsd:element ref="salary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddStudentResponse">
        <xsd:sequence>
          <xsd:element ref="message"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetStudentRequest">
        <xsd:sequence>
          <xsd:element ref="name"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetStudentResponse">
        <xsd:sequence>
          <xsd:element ref="name"/>
          <xsd:element ref="qualification"/>
          <xsd:element ref="role"/>
          <xsd:element ref="salary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="role" type="xsd:string"/>
      <xsd:element name="qualification" type="xsd:string"/>
      <xsd:element name="salary" type="xsd:string"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element ibmSchExtn:docRoot="true" name="AddStudentRequest" type="AddStudentRequest"/>
      <xsd:element ibmSchExtn:docRoot="true" name="AddStudentResponse" type="AddStudentResponse"/>
      <xsd:element ibmSchExtn:docRoot="true" name="GetStudentRequest" type="GetStudentRequest"/>
      <xsd:element ibmSchExtn:docRoot="true" name="GetStudentResponse" type="GetStudentResponse"/>
      <xsd:complexType name="Fault">
        <xsd:sequence>
          <xsd:element ref="FaultText"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="Fault" type="Fault"/>
      <xsd:element name="FaultText" type="xsd:string"/>
    </xsd:schema>